<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("logo.png", size: "50x50") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%=link_to(simple_discussion_path) do %>
      <li class="regions-list">
        <p class="regions-name">Forum</p>
      </li>
    <% end %>
    <% if current_user %>
      <%= link_to(destroy_user_session_path, method: :delete ) do %>
        <li class="regions-list">
          <p class="regions-name">Logout</p>
        </li>
      <% end %>
    <% else %>
      <%= link_to(new_user_registration_path) do %>
        <li class="regions-list">
          <p class="regions-name">Iscriviti</p>
        </li>
      <% end %>
      <%= link_to(new_user_session_path) do %>
        <li class="regions-list">
          <p class="regions-name">Login</p>
        </li>
      <% end %>
    <% end %>
  </div>
</div>
