<%= link_to home_route_path(route.id) do %>
  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-module-reporter">
        <div class="wrapper title-comment">
          <div class="column title"><%=route.name%></div>
          <div class="column comment"><%=route.description%></div>
        </div>
        <div class="wrapper module-reporter">
          <div class="column reporter"><%=route.user.username%></div>
        </div>
      </div>
      <div class="wrapper status-owner-severity">
        <div class="wrapper status-owner">
          <div class="column status"><span class="label label-primary"><%=route.difficulty%></span></div>
          <div class="column owner"><%=route.distance%></div>
        </div>
      </div>
    </div>
    <div class="wrapper icons">
      <div class="column watch"><span class="glyphicon glyphicon-eye-open active" /></div>
      <div class="column add-comment"><span class="glyphicon glyphicon-comment" /></div>
    </div>
    <div class="wrapper dates">
      <div class="column date"><%=route.created_at.strftime("%d/%m/%Y")%></div>
      <div class="column date"><%=route.updated_at.strftime("%d/%m/%Y")%></div>
    </div>
  </div>
<% end %>
