<!DOCTYPE html>
<html>
  <head>
    <title>A tutta pista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'></script>
  </head>

  <body>
    <%= render "shared/navbar"%>
    <%= yield %>
  </body>
</html>
