<!DOCTYPE html>
<html>
  <head>
    <title>A tutta pista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets' %>
  </head>

  <body>
    <%= render "shared/navbar"%>
    <div class="app">
  <div class="container-fluid no-padding main-view">
    <div class="row no-margin">
      <div class="col-md-2 no-padding">
        <%= render "shared/leftbar", locals: {countries: @content.countries}%>
      </div>
      <div class="col-md-10 no-padding">
      <div class="rightbar">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
